@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative font-bold text-red-400 cursor-pointer text-[23px] w-fit hidden md:block 
           after:block after:absolute after:h-[4px] after:bg-red-400 after:w-full 
           after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 after:origin-center
  }
  .action-button{
    @apply w-full p-3 rounded-3xl bg-slate-300 text-[#2F4F4F] font-bold hover:text-slate-300
   hover:bg-[#2F4F4F] transition-all duration-500 sm:text-xl lg:text-xl
  }
}